# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Xcode workspace settings
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
